/* Štýly pre formulár v Settings.jsx */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 0 auto 30px;
}

form input[type="number"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2em;
}

/* Štýly pre Timer.jsx */

.App h2 {
  /* Týka sa aj Timeru */
  color: #3f51b5;
  font-size: 2em;
  margin: 15px 0;
}
